.skill-list-container-body {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.skill-list-container-header {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  border-bottom: 2px solid;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.skill-list-container {
  padding: 0.25rem;
}

.skill-list-tab {
  position: relative;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.25s;
}

.skill-list-tab:hover,
.skill-list-tab:focus,
.skill-list-tab.active {
  opacity: 1;
}

.skill-list-tab::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  background: linear-gradient(to top, rgba(87, 54, 126, 0.25s), #0000);
  transition: all 0.25s;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.skill-list-tab:hover::after,
.skill-list-tab:focus::after,
.skill-list-tab.active::after {
  opacity: 1;
  height: 100%;
  width: 100%;
}