@import '../../variables.scss';

.collapsible-content-area {
  height: fit-content;
  opacity: 1;
  overflow: visible;
  padding-right: 2rem;
  transition: all $animation-speed-slow, opacity 0.75s;
  flex-grow: 1;
  max-height: 0px;
  height: 100%;
}

.collapsible-content-area.collapsed {
  opacity: 0;
  overflow: hidden;
  flex-grow: 0;
  max-height: 0px;
  pointer-events: none;
}
