.main-content-container {
    max-width: 1080px;
    display: flex;
    width: 100vw;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    max-height: 100dvh;
    overflow: auto;

    @media screen and (max-width: 990px) {
        flex-direction: column;
        align-items: baseline;
    }
}

.body-column {
    flex-grow: 0;
}