.App-headline {
  font-size: 60px;
}

.entry-anim {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.expand-anim {
  opacity: 0;
  animation-name: expand;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.welcome-text {
  display: inline-block;
  animation-name: shrink-out;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
}

.title-block {
  display: inline-block;
  padding-right: 10px;
}

.social-span {
  display: inline-block;
  padding-right: 10px;
}

.App-body {
  min-height: 100vh;
  background-color: #2a2630 !important;
  color: #e4e4e4;
}

.App-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.App-link {
  color: #61dafb;
}

a {
  color: #c7a5cf;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #e4e4e4;
  animation-name: link-hover;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  text-decoration: none;
}

hr {
  border-top: 1px #e4e4e4 solid;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  15% {
    opacity: .5;
  }
  30% {
    opacity: .25;
  }
  45% {
    opacity: 1;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expand {
  0% {
    max-width: 0%;
    opacity: 0;
  }
  15% {
    opacity: .5;
  }
  30% {
    opacity: .25;
  }
  45% {
    opacity: 1;
  }
  100% {
    max-width: 100%;
    opacity: 1;
  }
}

@keyframes shrink-out {
  0% {
    max-width: 100%;
    opacity: 100%;
  }
  50% {
    opacity: 100%;
    padding-right: 10px;
  }
  100% {
    max-width: 0%;
    opacity: 0%;
    padding-right: 0px;
  }
}

@keyframes link-hover {
  from {
    color: #c7a5cf;
  }
  to {
    color: #e4e4e4;
  }
}
