@use "./mixins.scss" as *;

body {
  font-size: 16px;
  background-color: $background;
  color: $text;
  margin: 0;
  overflow: hidden;
}

a {
  color: $accent-color-alt;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    text-decoration: underline;
    color: $text;
  }
}

#root {
  @include nunito-sans();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 0;
  margin: 0;
}
