$accent-color: #e85231;
$accent-color-alt: #7fd6ff;
$text: #ffffff;
$background: #1e2537;

@mixin block-text {
  font-family: "termina", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@mixin bold-text {
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
