.quad-base {
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 25vh;
    width: 100vw;
    position: absolute;
    background-color: #2a2630;
}

.quad-base.one {
    animation-name: width-in-right;
    top: 0;
    left: 0;
}

.quad-base.two {
    animation-name: width-in-right;
    top: 25vh;
    right: 0;
}

.quad-base.three {
    animation-name: width-in-right;
    top: 50vh;
    left: 0;
}

.quad-base.four {
    animation-name: width-in-right;
    top: 75vh;
    right: 0;
}

@keyframes width-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes width-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}