.void-block {
  position: relative;
  background-color: black;
  width: 100%;
  transition: max-width .75s;
  height: 5vh;
}

.void-block::after,
.void-block::before {
  z-index: 999;
  content: "";
  position: absolute;
  width: 1rem;
  background-color: black;
  height: 100%;
}

.right > .void-block::after {
  left: -1.75rem;
  opacity: 0.5;
}

.left > .void-block::after {
  right: -1.75rem;
  opacity: 0.5;
}

.void-block::before {
  width: 0.5rem;
}

.right > .void-block::before {
  left: -3rem;
  opacity: 0.25;
}

.left > .void-block::before {
  right: -3rem;
  opacity: 0.25;
}

@media (prefers-color-scheme: light) {
  .void-block,
  .void-block::before,
  .void-block::after {
    background-color: white;
  }
}
