@media (prefers-color-scheme: light) {
    .void-container.left {
        background-image: linear-gradient(to right, rgb(216 182 255), #0000);
    }
    
    .void-container.right {
        background-image: linear-gradient(to left, rgb(216 182 255), #0000);
    }
}

@media (prefers-color-scheme: dark) {
    .void-container.left {
        background-image: linear-gradient(to right, rgb(87, 54, 126), #0000);
    }
    
    .void-container.right {
        background-image: linear-gradient(to left, rgb(87, 54, 126), #0000);
    }
}

.void-root-container {
    z-index: -1;
    position: absolute;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .5s;
}

.void-container {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    max-width: max(0px, calc(50vw - 540px - 1rem));
}

.void-container.left {
    left: 0;
    align-items: flex-start;
}

.void-container.right {
    right: 0;
    align-items: flex-end;
}

@media screen and (max-width: 1440px) {
    .void-root-container {
        opacity: 0;
    }
}